/* css stylesheet */



body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 8, 41);
}

.container{
    background-color: rgb(71, 17, 122);
    border-radius: 1%;
}

.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.info{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 10px;
    padding-left: 10px;
}

.container .about{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;  
}

.items{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

#companies{
    padding-right: 10px;
}

#templates{
    padding-right: 10px;
}

img{
    grid-column: 2/3;
    grid-row: 1/3;
    
    border: solid 16px #aad;
    margin: 16px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }