/* css stylesheet */



body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 8, 41);
}

.container{
    background-color: rgb(71, 17, 122);
    border-radius: 1%;
}

.wrapper{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

}

.info{ 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.container .about{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;  
}

.items{
    display: flex;
    justify-content: left;
}

#companies{
    padding-right: 10px;
}

#templates{
    padding-right: 10px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }